@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
}

/* Products Page */
.product-link{
  text-decoration: none !important;
  color: black !important;
}

/* Card */
.card img{
  object-fit: contain;
  height: 200px;
  transition: 500ms;
}

.card img:hover{
  transform: scale(1.05);
}

body {
  scrollbar-color: transparent transparent; /* thumb and track color */
}

/* Page Not Found Image */
@media  screen and (max-width: 825px) {
  .not-found{
    width: 250px;
    display: block !important;
  }
}

/* Price Tag Design  */
.price{
  font-weight: bold;
  
}
