.fform{
    /* margin-top: 125px; */
    background-color: rgba(128, 128, 128, 0.2); /* Transparent grey background */
    backdrop-filter: blur(10px); /* Apply a blur effect */
    border-radius: 10px; /* Rounded corners */
    width: fit-content; /* Adjust width as needed */
    margin: 125px auto;
}

@media screen and (max-width: 430px){
    .fform{
        margin-top: 25px;
    }
}

.f_container{
    justify-content: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.detail{
    justify-content: flex-start;
    align-items: flex-start;
}

.forgotPass-bg{
    background-image: url('/bg-forgot.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.f_submit{
    width: fit-content;
    align-self: center;
}