@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

.corousel-image h3{
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 60px;
    color: #504d4d;
}

.corousel-image p{
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    color: #504d4d;
}