@media screen and (max-width: 1400px) {
    img {
        width: 300px;
    }
}

@media screen and (max-width: 800px) {
    img {
        display: none;
    }
}

.image {
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.privacy-text{
    position: absolute; 
    width: 60vw;
    right: 0; 
    height: 80vh;
    overflow-y: auto;
}

@media screen and (max-width: 800px) {
    .privacy-text{
        width: 100%;
    }
}

p{
    text-align: justify;
}

